{% load static  %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'Payment/css/style.css' %}">
    <title>Document</title>
</head>
<body>
<h1>Endpoint:</h1>
<ul class="border">
  <li>Доступ в админ панель: <br> <a href="admin/">admin/</a> <br> При стандартных настройках в .env:<br><h5>LOGIN: root </h5>
      <h5>PASSWORD: root </h5></li>
  <li>Получение информации об Item по его id и оформление заказа с помощью кнопки Buy: <h4>payment/item/{item_id}/</h4></li>
  <li>Получение session_id для оформления покупки на Stripe: <h4>payment/buy/{item_id}/</h4></li>
  <li>Покупка всех товаров в Order: <h4>payment/order_buy/{order_id}/</h4></li>
</ul>
</body>
</html>